<%= form_for @post, html: {multipart: true, data: { turbo: false }} do |form| %>

  <% if @post.errors.any? %>
    <div>
      <% @post.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

<div>
  <%= form.label :tag_list, "Tags (comma-separated)" %>
  <%= form.text_field :tag_list, value: @post.tags&.pluck(:name)&.join(', ') %>
</div>


  <%= form.submit %>
<% end %>
