<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<h1><%= @post.title %></h1>
<p>
  <% if @post.created_at.present? %>
    Created <%= time_ago_in_words(@post.created_at) %> ago...
  <% else %>
    Created recently...
  <% end %>
</p>
<p>By <%= link_to @post.user.username, user_path(@post.user) %></p>
<p><%= @post.text %></p>
<p>
  Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>Last updated <%= @post.updated_at.strftime("%d %B %Y, %H:%M") %></p>

<% if @like.persisted? %>
  <p>You liked this post.</p>
<% else %>
  <%= form_with model: @like, url: post_like_post_path(@post), method: :post do |form| %>
    <%= form.submit 'Like post', class: 'submit' %>
  <% end %>
<% end %>

<p>Likes: <%= @post.likes_counter || 0 %> </p>
<p>Comments: <%= @post.comments_counter || 0 %> </p>

<% if @post_comments.any? %>
  <ul>
    <% @post_comments.each do |comment| %>
      <li>
        <%= comment.user&.username %> <%= comment.created_at&.strftime("%d %B %Y, %H:%M") %>: <%= comment.text %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments... yet</p>
<% end %>

<%= form_with(model: @new_comment, url: post_comments_path(@post)) do |form| %>
  <%= form.text_area :text, placeholder: "Enter your comment here..." %>
  <%= form.submit "Post Comment" %>
<% end %>

<% if user_signed_in? && @post.user == current_user %>
  <%= link_to "edit post", edit_post_path(@post) %>
<% end %>
